<%
var image_attributes = '';

if(field.height) {
image_attributes += 'height: ' + field.height + 'px;'
}

if(field.width) {
image_attributes += 'width: ' + field.width + 'px;'
}
_.forEach(field.values, function(value, index) {
%>
<a href="<%- value.value %>" target="_blank">
    <div class=image-container
         style="background-image: url('<%- value.value %>');
                background-size: cover;
                background-position: center;
                <%- image_attributes %>">
    </div>
</a>
<%
});
%>
