<% if (!filtered) { %>
<table class="object-table object-table-no-filter <%= uid %>">
<% } else { %>
<table class="object-table <%= uid %>">
<% } %>
    <tbody>
<%
_.forEach(fields, function(field, index) {
%>
    <tr class="object-tr">
<% if (field.label) { %>
        <td class="object-td"><span class="object-label"><%- field.label %></span></td>
<% } %>
        <td class="object-td">
            <%= field.html %>
        </td>
    </tr>
<%
});
%>
    </tbody>
</table>
<!-- [object field formatter] Change the 'white-space' css attribute of our containing div, and remove the warning icon -->
<script>
// Run this after angular has done it's thing
setTimeout(() => {
    // Discover table row
    $(".<%= uid %>").closest(".truncate-by-height").css("white-space", "nowrap");

    // Discover expanded row table
    $(".<%= uid %>").closest("div.doc-viewer-value").css("white-space", "nowrap");
    $(".<%= uid %>").closest("div.doc-viewer-value").siblings("i.fa-warning").remove();
}, 0);
</script>
<!-- [object field formatter] Hide the filter buttons if this formatter doesn't have filtering enabled -->
<script>
// Run this after angular has done it's thing
setTimeout(() => {
    // Discover table row
    $(".object-table-no-filter.<%= uid %>")
        .closest("td.discover-table-datafield")
        .children(".table-cell-filter")
        .empty();

    // Discover expanded row table
    var buttonsCell = $(".object-table-no-filter.<%= uid %>")
                          .closest("div.doc-viewer-value")
                          .closest("td")
                          .siblings("td.doc-viewer-buttons");

    if (buttonsCell) {
        var span = buttonsCell.children("span:has(i.fa-search-plus)");
        span.replaceWith(
            "<span><i class=\"fa fa-search-plus text-muted\"></i><i class=\"fa fa-search-minus text-muted\"></span>"
        );
    }
}, 0);
</script>
