<table class="object-table">
    <tbody>
<%
_.forEach(fields, function(field, index) {
%>
    <tr class="object-tr">
<% if (field.label) { %>
        <td class="object-td"><span class="object-label"><%- field.label %></span></td>
<% } %>
        <td class="object-td">
            <%= field.html %>
        </td>
    </tr>
<%
});
%>
    </tbody>
</table>
<!-- [object field formatter] Change the 'white-space' css attribute of our containing div, and remove the warning icon -->
<script>
var parent = $("table.object-table").parent()
parent.css("white-space", "nowrap");

if (parent.hasClass("doc-viewer-value")) {
    var siblings = parent.siblings("i.fa-warning")
    if (siblings) {
        siblings.remove();
    }
}
</script>
