<div class="form-group">
    <div class="editor-object editor-form-field">
        <div class="form-group">
            <label>Base Path
                <small>(optional, dot notation)</small>
            </label>
            <input ng-model="editor.formatParams.basePath"
                   class="form-control">
        </div>
        <div class="form-group">
            <label>Array Limit
                <small>(optional)</small>
            </label>
            <input ng-model="editor.formatParams.limit"
                   type="number"
                   class="form-control">
        </div>
    </div>
    <div ng-repeat="field in editor.formatParams.fields">
        <div class="editor-object">
            <button ng-if="editor.formatParams.fields.length > 1"
                    aria-label="Remove Field" ng-click="removeField($index)"
                    tooltip="Remove Field" tooltip-append-to-body="true"
                    type="button"
                    class="btn btn-xs btn-danger editor-object-remove">
                <i aria-hidden="true" class="fa fa-times"></i>
            </button>
            <div class="form-group">
                <label>Label
                    <small>(optional)</small>
                </label>
                <input ng-model="field.label"
                       class="form-control">
            </div>
            <div class="form-group">
                <label>Field
                    <small>(dot notation)</small></label>
                <input ng-model="field.path"
                       class="form-control">
            </div>
            <div class="form-group">
                <label>Format</label>
                <select ng-model="field.type"
                        ng-options="type.id as type.name for type in editor.field.format.type.formatTypes"
                        class="form-control">
                </select>
            </div>
        </div>
        <div ng-if="field.type == 'text'"
             class="editor-object editor-advanced">

            <div class="form-group">
                <label>Enable Filtering</label>
                <input type="checkbox"
                       ng-model="field.filtered"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Filter Field</label>
                <input ng-model="field.filterField"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Array Limit
                    <small>(optional)</small>
                </label>
                <input ng-model="field.limit"
                       type="number"
                       class="form-control">
            </div>
        </div>
        <div ng-if="field.type == 'image'"
             class="editor-object editor-advanced">
            <div class="form-group">
                <label>Enable Filtering</label>
                <input type="checkbox"
                       ng-model="field.filtered"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Filter Field</label>
                <input ng-model="field.filterField"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Array Limit
                    <small>(optional)</small>
                </label>
                <input ng-model="field.limit"
                       type="number"
                       class="form-control">
            </div>
        </div>
        <div ng-if="field.type == 'image'"
             class="editor-object editor-advanced">
            <div class="form-group">
                <label>Image Height
                    <small>(pixels, optional)</small>
                </label>
                <input ng-model="field.height"
                       type="number"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Image Width
                    <small>(pixels, optional)</small>
                </label>
                <input ng-model="field.width"
                       type="number"
                       class="form-control">
            </div>
        </div>
        <div ng-if="field.type == 'link'"
             class="editor-object editor-advanced">

            <div class="form-group">
                <label>Enable Filtering</label>
                <input type="checkbox"
                       ng-model="field.filtered"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Filter Field</label>
                <input ng-model="field.filterField"
                       class="form-control">
            </div>

            <div class="form-group">
                <label>Array Limit
                    <small>(optional)</small>
                </label>
                <input ng-model="field.limit"
                       type="number"
                       class="form-control">
            </div>
        </div>
    </div>

    <button aria-label="Add Field" ng-click="addField()"
            tooltip="Add additional object fields to the output."
            tooltip-append-to-body="true" type="button"
            class="btn btn-primary btn-xs">
        <span class="sr-only">Add Field</span>
        <i aria-hidden="true" class="fa fa-plus"></i> Add Field
    </button>

</div>
